{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}
    Software
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'mainpage/css/game-detail.css' %}">
{% endblock head %}

{% block main %}
<section class="content">

    {% for programm in programms %}
    <a href="{{ programm.get_absolute_url }}" class="game-card game-card__big">
        <div class="game-photo store">
            <img src="{{ programm.store_image.url }}" alt="">
        </div>
        <div class="game-info">
            <h4>{{ programm.name }}</h4>
            <span class="game-genre">{{ programm.category.name }}</span>
            <div class="game-price"><span>${{ programm.price }}</span>
            
                <div class="game-platforms">
                    <img src="/media/ps.svg" alt="Playstation"><img src="/media/xbox.svg" alt="Xbox">
                </div>
            
            </div>
        </div>
    </a>
    {% endfor %}
    


</section>
{% endblock main %}